.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 20px;
    @media (max-width: 768px) {
        grid-template-columns: auto;
    }
}

.grid-item {
    background: #fff;
    .mat-form-field {
        width: 100%;
    }
    @media (max-width: 768px) {
        height: 70px;
    }
}

.mat-dialog-container {
    width: 296px!important;
    height: 354px!important;
}