<div mat-dialog-content class="custom-width-modal">
    <div class="modal-header">
        <!-- <h4 class="modal-title">Delete Device</h4> -->
    </div>
    <div class="modal-body">
        <div class="input-group v-center">
            Are you sure you want to delete?
        </div>
    </div>
    <div class="modal-footer" style="text-align:center">
        <button mat-button (click)=" onNoClick()" tabindex="-1" class="btn-cancel">No </button>&nbsp;
        <button mat-button type="button" class="btn-create" [mat-dialog-close]="true" tabindex="2">Yes </button>
    </div>
</div>